* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
  box-sizing: border-box;
}

img,
video,
svg,
object {
  max-width: 100%;
}

svg {
  color: grey;
}

.app {
  min-height: 100vh;
  background-color: #fcfcfc;
}
